services:
  grafana:
    container_name: grafana-aitraining-app
    image: grafana/grafana-oss:10.4.1
    environment:
      - GF_DEFAULT_APP_MODE=development # Ideally this should be moved to grafana.ini
    volumes:
      - ./grafana-aitraining-app/dist:/var/lib/grafana/plugins/grafana-aitraining-app
      - ./.config/grafana/config:/etc/grafana-config
      - ./.config/grafana/datasources:/etc/grafana/provisioning/datasources
      # We don't need these for now, but may want to provision dashboards for the dev env later
      # - ./grafana/dashboards-provisioning:/etc/grafana/provisioning/dashboards
      # - ./grafana/dashboards:/var/lib/grafana/dashboards
    command: > # This injects the autoreload script from the plugin into the index.html file
      sh -c "sed -i 's/<\/body><\/html>/<script src=\"http:\/\/localhost:35729\/livereload.js\"><\/script><\/body><\/html>/g' /usr/share/grafana/public/views/index.html && /run.sh"
    ports:
      - "3000:3000"

  loki:
    image: grafana/loki:3.0.0
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100"

  mimir:
    image: grafana/mimir:2.11.0
    volumes:
      - ./.config/mimir/config:/etc/mimir-config
    entrypoint:
      - /bin/mimir
      - -config.file=/etc/mimir-config/mimir.yml
    ports:
      - "9009:9009"

  db:
    image: mariadb:10.3
    environment:
      MARIADB_ROOT_PASSWORD: rootpass
      MARIADB_DATABASE: aitraining
      MARIADB_USER: user
      MARIADB_PASSWORD: pass
    volumes:
      - ./docker-compose/0-createdb.sql:/docker-entrypoint-initdb.d/0-createdb.sql

  ai-training-api:
    build:
      context: .
      dockerfile: ai-training-api/Dockerfile
      target: development
      cache_from:
        - grafana/ai-training-api:latest
      args:
        BUILDKIT_INLINE_CACHE: "1"
    working_dir: /go/src/ai-training-api
    # use a different endpoint in the docker-compose environment so we can use air
    # which monitors files and automatically restarts the server when they change
    entrypoint:
      - "air"
    command:
      - "-c"
      - "air.ai-training-api.toml"
    environment:
      air_wd: /go/src/ai-training-api
    ports: 
      - "3456:8000"

  # Jupyter lab will be available at 127.0.0.1:8888/lab
  jupyter:
    image: quay.io/jupyter/pytorch-notebook:cuda12-python-3.11.8
    command: "start-notebook.py --NotebookApp.token=\\'\\' --NotebookApp.password=\\'\\'"
    volumes:
      - ./o11y:/home/jovyan/
    ports:
      - "8888:8888"
    environment:
      - GF_AI_TRAINING_CREDS=83bcaff6228b39bbe431af5e19fb4368e2a03dd3@localhost:3456


# # Ensures data is persisted across container restarts
# volumes:
#   postgres_data: